html {
  background: rgb(221, 211, 211);
}

body {
  margin: 0;
  padding: 1rem;
}

.content__container {
  column-count: 3;
  width: 1200;
  /* margin-left: 100px; */
  padding: 0 150px;
}
 
.content__container-item {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;
}

.image-item1 {
  width: 300px;
  height: auto;
  margin-bottom: 20px;
}

.image-item2 {
   width: 300px;
  height: auto;
  margin-bottom: 20px;
}
